<div class="jumbotron">
  <center>
    <h1><%= @donut.flavor %></h1>
    <img src="<%= @donut.image %>">
  </center>
  <h3>Flavor: <%= @donut.flavor %></h3>
  <h3>Cost: $<%= @donut.cost %></h3>
  <h4><%= @donut.description %></h4>

</div>